@using System.Diagnostics

@{
  var testCategories = Category.GetTestCategories();
}

<button class="btn" type="button"
        data-bs-toggle="modal" data-bs-target="#catalogExplorer">
  <i class="bi bi-collection"></i>
  <span class="ms-1">Catalog</span>
</button>

<div class="modal fade" id="catalogExplorer" tabindex="-1"
     aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4">Explore Catalog</h1>
        <button class="btn-close" type="button"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container px-0">
          <div class="row">
            <div class="col-3 border-end">
              <partial name="_CategoryListGroup.cshtml" model="@testCategories" />
            </div>
            <div class="col">
              <div class="border rounded h-100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>