@{
  ViewData["Title"] = "Home Page";
}

@if (User.Identity!.IsAuthenticated)
{
  <div class="text-center">
    <h1>Welcome, @User.Identity.Name!</h1>

    <p>
      @foreach (var claim in Context.User.Claims)
      {
      <div>@claim.Type: <b>@claim.Value</b></div>
    }
    </p>
  </div>
}
else
{
  <div class="text-center">
    <h1>Welcome, annonymous!</h1>
  </div>
}