@model CategoryViewModel

@{
  string categoryListGroupId = $"{Model.Name.Replace(" ", "")}ListGroup";
}

<li class="list-group-item">
  <div class="d-flex justify-content-between align-items-center">
    <a class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-100-hover"
       href="#">
      @Model.Name
    </a>
    <button class="btn btn-sm" type="button"
            data-bs-toggle="collapse" data-bs-target="#@categoryListGroupId"
            aria-controls="@categoryListGroupId" aria-expanded="false">
      <i class="bi bi-plus-lg"></i>
      <i class="bi bi-dash-lg" style="display: none;"></i>
    </button>
  </div>

  <partial name="_CollapsableCategoryListGroup.cshtml" model="@((Model.Subcategories, categoryListGroupId))" />
</li>